/* This is a universal selector. It selects and styles all elements. */
*{
    /* The box-sizing property is used to tell the browser what the sizing properties (width and height) should include. The "border-box" value includes padding and border in the element's total width and height. */
    box-sizing:border-box;
    /* The margin property sets the margin area on all four sides of an element. A value of 0 removes the margin. */
    margin: 0;
    /* The padding property sets the padding area on all four sides of an element. A value of 0 removes the padding. */
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* This selector selects and styles all <button> elements. */
  button{
    /* The display property specifies the display behavior of an element. The "flex" value displays an element as a block-level flex container. */
    display:flex;
    /* The margin property with "0 auto" centers the button horizontally. */
    margin: 0 auto;
    /* The margin-top property sets the top margin of an element. */
    margin-top: 40px;
    /* The padding property sets the padding area on all four sides of an element. */
    padding: 15px;
    /* The border property sets the border width, style, and color for all four sides of an element at once. */
    border: 2px solid;
    /* The border-radius property defines the radius of the element's corners. */
    border-radius:7px;
    /* The margin-bottom property sets the bottom margin of an element. */
    margin-bottom: 50px;
    border-color: rgb(62, 0, 87);
    color: rgb(62, 0, 87);
  }
  button :hover{
    cursor: pointer;
    transition: .3s;
    color: #000000;
  }
  
  /* This selector selects and styles an element with id="digi". */
  #peaky{
    width: 400px;
    height: 400px;
    padding:5px;
    display: flex;
    background-color: rgb(62, 0, 87);
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin: auto;
    border-radius: 7px;
        border-color: rgb(62, 0, 87);
  }
  #peak{
    width: 380px;
    height: 380px;
    padding:5px;
    display: flex;
    background-color: white;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin: auto;
    border-radius: 7px;
  }
  
  /* This selector selects and styles all elements with class="digiLogo". */
  .digiLogo{
      /* The width property sets the width of an image. */
      width: 200px;
      /* The height property sets the height of an image. */
      height: 200px;
      /* The border-radius property defines how round/curved should be corners of an image be displayed.*/
      border-radius:100%;
      /*The margin-top adds space to top side of image.*/
      margin-top:20px; 
  }

  .title{
    color: rgb(62, 0, 87);
  }